.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color:#69C62D;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.nav-link:hover {
  color: #2E8739
}

.active-link {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #69C62D;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-shadow: 
    -1px -1px 0px #f7f07b,  
    1px -1px 0px #f7f07b,  
    -1px 1px 0px #f7f07b,  
    1px 1px 0px #f7f07b;
}

img {
  width: 300px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}